.btn {
    color: aliceblue;
    border: none;
    outline: none;
    height: 30px;
    width: 50%;
    border-radius: 10px;
    background: linear-gradient(45deg, #849B5C, #687466, #50D5B7, #067d68);
    cursor: pointer;
}