.header {

  position: absolute;
  @media(min-width: 1400px) {
  position: fixed !important;
}
}
.input {

    width: 5%;
    height: 20%;
    border: none;
    border-radius: 80%;
    outline: none;
    padding: 10px;
    transition: width 0.4s ease;
    background: linear-gradient(45deg, #849B5C, #687466, #50D5B7, #067d68);
    animation: colors 15s ease infinite;
   
}

.input:hover {
    width: 50%;
    height: 50%;
    border-radius: 10%;
}

.input::placeholder {
    color: aliceblue;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 200;
    text-transform: uppercase;
}

.searchIcon {

  float:left;
  margin:3px 0px 0px -4%;
  cursor:pointer;
  color: aliceblue;
}

.searchBar {
  display: none !important;
    @media(min-width: 1400px) {
  display: flex !important;
  }
}


@keyframes colors {

    8% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }

