body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.insomnia {
  position: absolute;
  width: 30%;
  /* height: 60%; */
  top: 50;
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.gradient {
  background: linear-gradient(45deg, #849B5C, #687466, #50D5B7, #067d68);
  background-size: 300% 300%;
  animation: colors 15s ease infinite;
}


@keyframes colors {

  8% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 20px;
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.75;
  margin: 0;
}


.motionDiv {
  width: 50%;
  height: 300px;
  padding-left: 5%;
  padding-bottom: 5%;

}

.swiper-slide {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background: linear-gradient(45deg, #849B5C, #687466, #50D5B7, #067d68);
}

.swiper-slide:nth-child(2n) {
  background: linear-gradient(45deg, #849B5C, #687466, #50D5B7, #067d68);
}

.swiper-slide:nth-child(3n) {
  background: linear-gradient(45deg, #849B5C, #687466, #50D5B7, #067d68);
}

.swiper-slide:nth-child(4n) {
  background: linear-gradient(45deg, #849B5C, #687466, #50D5B7, #067d68);
}

.swiper-slide:nth-child(5n) {
  background: linear-gradient(45deg, #849B5C, #687466, #50D5B7, #067d68);
}

.swiper-slide:nth-child(6n) {
  background: linear-gradient(45deg, #849B5C, #687466, #50D5B7, #067d68);
}

.swiper-slide:nth-child(7n) {
  background: linear-gradient(45deg, #849B5C, #687466, #50D5B7, #067d68);
}

.swiper-slide:nth-child(8n) {
  background: linear-gradient(45deg, #849B5C, #687466, #50D5B7, #067d68);
}

.swiper-slide:nth-child(9n) {
  background: linear-gradient(45deg, #849B5C, #687466, #50D5B7, #067d68);
}

.swiper-slide:nth-child(10n) {
  background: linear-gradient(45deg, #849B5C, #687466, #50D5B7, #067d68);
}

